<nav id="bar">
  <div class="nav-inner">
    <ul>
      <%= nav_link_to home_path, {}, {wrapper: 'li', wrapper_class: 'nav-link'} do %>
        <%= image_tag 'nav-icon-gray.png', size: '64x45', alt: 'logo' %>
      <% end %>
      <%= nav_link_to '关于', about_path, {}, {wrapper: 'li', wrapper_class: 'nav-link red'} %>
      <%= nav_link_to '问与答', faq_path, {}, {wrapper: 'li', wrapper_class: 'nav-link orange'} %>
      <%= nav_link_to '官方博客', "http://blog.discourse.org/", {}, {wrapper: 'li', wrapper_class: 'nav-link yellow'} %>
      <%= nav_link_to '试用', "http://try.discourse.org", {}, {wrapper: 'li', wrapper_class: 'nav-link green'} %>
      <%= nav_link_to '购买', buy_path, {}, {wrapper: 'li', wrapper_class: 'nav-link blue'} %>
      <%= nav_link_to '中文论坛', "http://meta.discoursecn.org", {}, {wrapper: 'li', wrapper_class: 'nav-link grey'} %>
    </ul>
    <a class="fork-us" href="http://github.com/discourse/discourse"><span class="fa fa-github-alt"></span>&nbsp;参与开发</a>
  </div>
</nav>
