<%= content_for(:title, title_helper('问与答')) %>

<%= render 'shared/header' %>

<article id="faq">
  <section>
    <div class="row">
      <div id="what"></div>
      <h1><a href="#what">Discourse 是什么？</a></h1>
      <p>
        Discourse 是为今后 10 年的互联网打造的 100% 开放源代码的讨论平台。它可以用作：
      </p>
      <ul>
        <li>邮件列表</li>
        <li>论坛</li>
        <li>聊天室</li>
      </ul>
      <div id="different"></div>
      <h1><a href="#different">它有什么不同？</a></h1>
      <p>Discourse 是全新打造的，力图打造一个现代的、可持续的并且完全开放源代码的互联网讨论平台。它的设计必须符合现代 —— 不仅是从技术角度还是从社会学的角度上。</p>
      <p>
        <b>我们是文明人。</b>
      </p>
      <p>
        我们的信任系统为社群建立了一个免疫系统，用于防范骚扰、捣乱的人以及广告发布者 —— 并且热心地社群成员能帮助一起管理他们自己的社群。
        我们设计了简单和易用的标记系统，就像是在每条街的角落放上了垃圾桶。积极地行为可以通过赞和徽章来鼓励。
        我们友善地并不断地用适时出现的提醒来教育用户<a href="http://blog.discourse.org/2013/03/the-universal-rules-of-civilized-discourse/">文明讨论的通用法则</a>。
      </p>
      <p>
        <b>坚决地开放源代码。</b>
      </p>
      <p>Discourse 只有一个版本 ——  <a href="https://github.com/discourse/discourse">最棒的版本</a>。没有什么秘密特殊的需要付费才能使用的高级特性。</p>
      <p>
        绝大多数社群所需的特性都包含在 Discourse 中，即时可用；不需要一大堆复杂的插件才能打造完美体验。
        并且因为 Discourse 是 100% 开放源代码，所以无论何时它不仅属于我们而且属于您。这应该就是社群如何运行的方式。
      </p>
      <p>
        <b>简洁。现代。有趣</b>
      </p>
      <p>
        讨论不应该是困难的，让人疑惑的或是难以进行。参与在线讨论应该是体验良好的，而不像如今的论坛和邮件列表一般。
        它应该让人有意愿参与其中，与其他人同样对这些事情感到兴奋的人一起讨论。
      </p>
      <div id="features"></div>
      <h1><a href="#features">不，严格来说，它又什么不同？</a></h1>
      <p>
        Discourse 的界面简洁、干净并且易用。它符合用户的直觉。
        查看<a href="http://v1.discourse.org/about/">我们的特性列表</a>然后您就会发现您的社群会喜爱的优秀特性。
      </p>
      <p>
        但还是不要相信我们的话吧。在沙盒中体验 Discourse，<a href="http://try.discourse.org/"><b>try.discourse.org</b></a> —— 或者查看我们的几个合作伙伴和顾客的站点：
      </p>
      <p>
        <a href="http://bbs.boingboing.net">
          <%= image_tag 'boing-boing-latest-large.png', size: '358x340', alt: 'Boing Boing' %>
        </a> &nbsp;
        <a href="http://discuss.howtogeek.com">
          <%= image_tag 'how-to-geek-profile-large.png', size: '358x340', alt: 'How to Geek' %>
        </a> &nbsp;
        <a href="https://discuss.newrelic.com/">
          <%= image_tag 'new-relic-categories-large.png', size: '358x340', alt: 'New Relic' %>
        </a> &nbsp;
        <a href="https://talk.turtlerockstudios.com/">
          <%= image_tag 'turtle-rock-topic-large.jpg', size: '358x340', alt: 'Turtle Rock' %>
        </a> &nbsp;
      </p>
      <div id="browser"></div>
      <h1><a href="#browser">最低的浏览器版本要求是？</a></h1>
      <p>
        Discourse 是一个 JavaScript 应用，为今后十年的互联网设计，所以最低浏览器版本要求是很高的：
      </p>
      <ul>
        <li>Internet Explorer 10+</li>
        <li>Google Chrome 24+</li>
        <li>Firefox 14+</li>
        <li>Safari 5.1+</li>
      </ul>
      <p>
        我们官方支持 Internet Explorer 9，但是一些功能将无可避免地无法使用。
      </p>
      <div id="tablet-phone"></div>
      <h1><a href="#tablet-phone">支持哪些平板和手机？</a></h1>
      <p>
        Discourse 从第一天起就被设计为高分辨率的屏幕和无处不在触摸设备设计。我们将为小屏幕用户启用移动版。
      </p>
      <ul>
        <li>Safari 移动版，iOS 6+</li>
        <li>Chrome 移动版， Android 4.1+</li>
        <li>IE 移动版，Windows Phone 8 或更高</li>
      </ul>
      <p>
        <a href="http://discuss.atom.io">
          <%= image_tag 'nexus-7-mobile-discourse-small-new.png', size: '474x836', alt: 'Atom' %>
        </a> &nbsp;
        <a href="http://discourse.soylent.me">
          <%= image_tag 'iphone-5s-mobile-discourse-small-new.png', size: '242x521', alt: 'Soylent' %>
        </a>
      </p>
      <div id="get-it"></div>
      <h1><a href="#get-it">如果获得它？</a></h1>
      <p>
        Discourse 是 <a href="https://www.github.com/discourse/discourse">100% 免费且开放源代码的软件</a>，无论何时。
      </p>
      <p>
        官方提供<b><a href="https://payments.discourse.org/buy">Discourse 托管服务</a></b>，也提供安装服务。
        您也可以在 30 分钟内在云服务器中<a href="http://blog.discourse.org/2014/04/install-discourse-in-under-30-minutes/">自己安装 Discourse</a>。
      </p>
      <div id="tech"></div>
      <h1><a href="#tech">它是用什么搭建的？</a></h1>
      <p>
        Discourse 是 JavaScript 应用运行于浏览器中，使用了 <a href="http://emberjs.com/">Ember.js</a> JavaScript 框架。
      </p>
      <p>
        服务器端的 Discourse 是用 <a href="http://rubyonrails.org/">Ruby on Rails</a> 和 <a href="http://www.postgresql.org/">Postgres</a> 数据库，以及 <a href="http://redis.io/">Redis</a> 服务器端缓存。
        您可以自行用 <a href="https://docker.com/">Docker</a> 容器在任何有 1GB 内存的虚拟化云服务（Digital Ocean、Amazon EC2、rackspace、azure）中部署 Discourse。
      </p>
      <div id="license"></div>
      <div></div>
      <h1><a href="#license">到啊使用了什么协议？</a></h1>
      <p>
        <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU 通用公共许可协议（GPL），第 2 版</a>。
      </p>
      <p>
        我们很高兴接受 Pull Request，然而，我们要求您签署一份<a href="http://en.wikipedia.org/wiki/Contributor_License_Agreement">贡献者协议合约</a>这样我们才有权利重新授权您的贡献。
      </p>
      <div id="switch"></div>
      <h1><a href="#switch">我应该现在转移到 Discourse 上么？</a></h1>
      <p>毋庸置疑！</p>
      <p>Discourse 已经不是测试阶段的软件了；我们紧张地运行测试版软件和社群一起为此工作了一年半，如果我们有信心表示我们已经打造了一个功能强大的讨论软件。我们现在会向绝大活跃在网络上的社群建议使用 Discourse。</p>
      <p>
        Discourse 适合新生社群。有无数技术和社会学上的改变来方便您建立社群。提前严肃的讨论即将发生的改变。这需要大家都对现状不满并需要社群领导的强力支持。
      </p>
      <div id="team"></div>
      <h1><a href="#team">你们是谁？</a></h1>
      <p>
        Civilized Discourse Construction Kit, Inc. 的联合创始人是 <a href="http://www.codinghorror.com/blog">Jeff Atwood</a>、<a href="http://eviltrout.com/">Robin Ward</a> 和 <a href="http://samsaffron.com/">Sam Saffron</a>。
        我们的核心团队包括 <a href="http://www.neillalonde.com/">Neil Lalonde</a> 和 <a href="http://blog.discourse.org/2013/09/welcome-regis-hanol-to-the-discourse-team/">Régis Hanol</a>，以及来自我们的设计师 <a href="http://awesomerobot.com/">Kris Aubuchon</a> 的帮助，以及系统管理员 <a href="https://twitter.com/Supermathie">Michael Brown</a>。
        但是作为开源项目，没有<a href="http://meta.discourse.org">整个社群</a>的合作，Discourse 不会存在。谢谢你们！
      </p>
      <p>
        我们正在进行一项长达十年的征途，用免费、开放源代码的讨论软件改善互联网。我们已经走了很远，但还有更远的路要走，而且这是一条很长的路。
      </p>
      <p>加入我们。<a href="http://www.youtube.com/watch?v=Xe1TZaElTAs">我们非常高兴能与您同行。</a></p>
    </div>
  </section>
</article>
