<%= content_for(:title, title_helper(nil)) %>

<%= render 'shared/header' %>

<header>
  <div class="biglogo">
    <div class="onepointoh">
      <span class="new rainbows">New!</span>
      <i class="fa fa-certificate"></i>
      <span class="version rainbows">1.0</span>
    </div>
    <%= image_tag 'logo.png', size: '512x150', alt: 'Discourse logo' %>
  </div>
  <h1>Civilized Discussion. On the Internet.</h1>
  <div id="tabs">
    <a href="/about/">
      <span>Free</span>
      <span class="middle">Open</span>
      <span>Simple</span>
    </a>
  </div>
  <div id="try">
    <a href="http://try.discourse.org" class="btn-big">Try Discourse!</a>
  </div>
</header>

<article>
  <div class="bg">
  <section id="first">
    <div class="row">
      <div class="box">
        <%= video_tag('infiniscroll.png', class: 'red-border', size: '545x174') %>
      </div>
      <h2>Conversations, not pages</h2>
      <p>Why break conversations into awkward and arbitrary pages, where you have to constantly find the Next Page button?</p>
      <p>We've replaced all that with the power of just-in-time loading. Want to read more? Keep scrolling down.</p>
    </div>
    <div class="row">
      <div class="box">
        <video width="545" height="175" class="yellow-border" poster="../video/notify.png" autoplay="" loop="">
          <source src="../video/notify_retina.mp4" type="video/mp4" media="(min-device-pixel-ratio:1.5), (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5)">
          <source src="../video/notify_retina.ogg" type="video/ogg" media="(min-device-pixel-ratio:1.5), (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5)">
          <source src="../video/notify.mp4" type="video/mp4">
          <source src="../video/notify.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
      <h2>Dynamic notifications</h2>
      <p>It’s difficult to have a conversation when you can't hear anyone.</p>
      <p>
        When someone quotes your post, we’ll notify you. When someone mentions your @name, we’ll notify you. When someone replies to your post… well, you get the idea. And if you're not around, we'll email you, too.
      </p>
    </div>
    <div class="row">
      <div class="box">
        <video width="545" height="175" class="blue-border" poster="../video/context.png" autoplay="" loop="">
          <source src="../video/context_retina.mp4" type="video/mp4" media="(min-device-pixel-ratio:1.5), (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5)">
          <source src="../video/context_retina.ogg" type="video/ogg" media="(min-device-pixel-ratio:1.5), (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5)">
          <source src="../video/context.mp4" type="video/mp4">
          <source src="../video/context.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video> </div>
      <h2>Simple, but with context</h2>
      <p>
        Discourse is a simple, flat forum, where replies flow down the page in a line.
      </p>
      <p>
        Expandable replies are attached to the bottom and top of each post, so you can discover the fuller context of the conversation – without breaking your flow.
      </p>
    </div>
  </section>
  <section id="second">
    <div class="twoColumn">
      <div class="row">
        <h2>Born mobile, born to touch</h2>
        <p>
          Discourse was designed from day one for high resolution touch devices, and has a built in mobile layout.
        </p>
        <p>
          Move back and forth freely between your laptop, your tablet, and your smartphone without constantly being told <i>this site has an app, do you want it?</i>
        </p>
        <div class="box">
          <%= image_tag 'screenshot-app.jpg', size: '420x200', alt: 'screenshot' %>
        </div>
      </div>
      <div class="row">
        <h2>Links automatically expand</h2>
        <p>
          Want to share a cool link you found? Just paste it in on a single line and we’ll make it awesome.
        </p><p>
        Links to Wikipedia, YouTube, Amazon, GitHub, Twitter, Flickr and dozens of other popular web sites automatically expand to provide additional context and information.
      </p>
        <div class="box">
          <video width="420" height="200" poster="../video/onebox.png" autoplay="" loop="">
            <source src="../video/onebox_retina.mp4" type="video/mp4" media="(min-device-pixel-ratio:1.5), (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5)">
            <source src="../video/onebox_retina.ogg" type="video/ogg" media="(min-device-pixel-ratio:1.5), (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5)">
            <source src="../video/onebox.mp4" type="video/mp4">
            <source src="../video/onebox.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video> </div>
      </div>
    </div>
  </section>
  <section id="third">
    <div class="twoColumn">
      <div class="row">
        <h2>Reply while you read</h2>
        <p>
          Type your reply while you continue to read, altering your reply and adding new quotes from others as you explore the topic! You can even jump around to other topics.
        </p>
        <p>
          We’ll save your spot – and your response – even if you finish on a different computer.
        </p>
        <div class="box">
          <video width="420" height="200" poster="../video/replyread.png" autoplay="" loop="">
            <source src="../video/reply_read_retina.mp4" type="video/mp4" media="(min-device-pixel-ratio:1.5), (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5)">
            <source src="../video/reply_read_retina.ogg" type="video/ogg" media="(min-device-pixel-ratio:1.5), (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5)">
            <source src="../video/reply_read.mp4" type="video/mp4">
            <source src="../video/reply_read.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video> </div>
      </div>
      <div class="row">
        <h2>Reply as a linked topic</h2>
        <p>
          You don’t want to interrupt this conversation, but a post just reminded you of a related topic you'd like to share.
        </p>
        <p>
          No problem! Use "Reply as new topic" to start a related conversation – and both topics will be visibly connected together.
        </p>
        <div class="box">
          <%= image_tag 'screenshot-links.jpg', size: '420x200', alt: 'screenshot' %>
        </div>
      </div>
    </div>
  </section>
  <section id="fourth">
    <div class="twoColumn">
      <div class="row">
        <h2>Simple metrics</h2>
        <p>
          The goal of every link is to be clicked – so every link posted in Discourse shows a live click count.
        </p>
        <p>
          We also track incoming links, so if a post you made becomes super popular, you'll know why.
        </p>
        <div class="box">
          <%= image_tag 'screenshot-metrics.jpg', size: '420x200', alt: 'screenshot' %>
        </div>
      </div>
      <div class="row">
        <h2>Real time updates</h2>
        <p>
          If a topic changes while you are reading or responding to it, or new replies arrive, it will update automatically.
        </p>
        <p>As new topics arrive, they also appear at the top of the list.</p>
        <div class="box">
          <video width="420" height="200" poster="../video/newpost.png" autoplay="" loop="">
            <source src="../video/newpost_retina.mp4" type="video/mp4" media="(min-device-pixel-ratio:1.5), (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5)">
            <source src="../video/newpost_retina.ogg" type="video/ogg" media="(min-device-pixel-ratio:1.5), (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5)">
            <source src="../video/newpost.mp4" type="video/mp4">
            <source src="../video/newpost.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video> </div>
      </div>
    </div>
  </section>
  <section id="icons">
    <div class="twoColumn">
      <div class="row">
        <div class="icon"><i class="fa fa-bookmark"></i></div>
        <h2>Remembers your place</h2>
        <p>Topics that you read for a while, replied to, or created will be automatically highlighted. And don't worry about reading an entire topic in one sitting – we’ll always save your place for you. </p>
      </div>
      <div class="row">
        <div class="icon"><i class="fa fa-key"></i></div>
        <h2>Log in with … anything</h2>
        <p>
          Use your Twitter, Facebook, Google, Yahoo, or GitHub credentials to log in. Or set up single sign-on with your existing website.
        </p>
      </div>
      <div class="row">
        <div class="icon"><i class="fa fa-picture-o"></i></div>
        <h2>Paste to share images</h2>
        <p>
          Want to share an image? Just copy and paste it in. Or drag and drop it in! Posting LOLCats has never been this easy.
        </p>
      </div>
      <div class="row">
        <div class="icon"><i class="fa fa-search"></i></div>
        <h2>Search that actually works</h2>
        <p>
          Search on any page: just start typing and get results instantly as you type. The results will be automatically scoped to where you currently are.
        </p>
      </div>
      <div class="row">
        <div class="icon"><i class="fa fa-shield"></i></div>
        <h2>Community moderation</h2>
        <p>
          As users regularly participate by reading and posting, they gain trust. With that trust, they gain powerful abilities to help maintain the community and push out trolls and spammers.
        </p>
      </div>
      <div class="row">
        <div class="icon"><i class="fa fa-users"></i></div>
        <h2>Bring your friends</h2>
        <p>
          Once you’re trusted, you can click a button to invite your friends via email and they can reply to your topic with a single click. Staff can easily invite an entire group of people by uploading email addresses.
        </p>
      </div>
      <div class="row">
        <div class="icon">
  <span class="fa-stack fa-lg" style="color: #fff; font-size: 30px;">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-stack-1x" style="font-weight: bold; font-size: .7em;  font-family: arial;">CC</i>
  </span>
        </div>
        <h2>Your data belongs to you</h2>
        <p>
          Our default discussion license is Creative Commons, but you can choose to maximize rights for the site owner or your users. Import or export all your data, right from your browser, any time.
        </p>
      </div>
      <div class="row">
        <div class="icon">
          <i class="fa fa-cogs"></i>
        </div>
        <h2>Comprehensive API</h2>
        <p>
          Discourse has an excellent API. How do we know? Because our JavaScript application is built on top of it. Our large open source community provides plugins, samples, and examples.
        </p>
      </div>
    </div>
  </section>
  </div>
</article>
<footer class="home">
  <a href="http://try.discourse.org" class="btn-big">Try Discourse!</a>
  <section id="foot">
    <div class="links">
      <a href="/">
        <%= image_tag 'icon-tiny.png', size: '24x24', alt: 'discourse' %>
      </a> <a href="/about/">About</a> | <a href="/faq/">FAQ</a> | <a href="http://blog.discourse.org">Blog</a> | <a href="http://try.discourse.org">Try It</a> | <a href="https://payments.discourse.org/buy">Buy It</a> | <a href="http://meta.discourse.org">Meta</a> | <a href="http://www.discourse.org/privacy-policy">Privacy</a> | <a href="http://twitter.com/discourse">@discourse</a>
    </div>
    <p>Content is <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">by-nc-sa</a>, Discourse logo and “Discourse Forum” ®, Civilized Discourse Construction Kit, Inc.</p>
    <p><a href="http://www.youtube.com/watch?v=Xe1TZaElTAs">Built with love, Internet style</a></p>
  </section>
</footer>
