<%= content_for(:title, title_helper(nil)) %>

<%= render 'shared/header' %>

<header>
  <div class="biglogo">
    <div class="onepointoh">
      <span class="new rainbows">新！</span>
      <i class="fa fa-certificate"></i>
      <span class="version rainbows">1.1</span>
    </div>
    <%= image_tag 'logo.png', size: '512x150', alt: 'Discourse logo' %>
  </div>
  <h1>文明地讨论。互联网平台。</h1>
  <div id="tabs">
    <a href="/about/">
      <span>免费</span>
      <span class="middle">开放</span>
      <span>简洁</span>
    </a>
  </div>
  <div id="try">
    <a href="http://try.discourse.org" class="btn-big">尝试 Discourse！</a>
  </div>
</header>

<article>
  <div class="bg">
  <section id="first">
    <div class="row">
      <div class="box">
        <%= video_tag('infiniscroll.png', class: 'red-border', size: '545x174') %>
      </div>
      <h2>交谈，无需翻页</h2>
      <p>为什么要把对话分割成尴尬麻烦、难以寻找的页面？何必不断地寻找下一页按钮？</p>
      <p>我们用动态载入完全替换了分页。想要阅读更多？一直往下滚动屏幕即可。</p>
    </div>
    <div class="row">
      <div class="box">
        <%= video_tag('notify.png', class: 'yellow-border', size: '545x175') %>
      </div>
      <h2>动态提醒</h2>
      <p>当您不知道其他人说了什么时是很难进行一段讨论的。</p>
      <p>当有人引用了您的帖子，我们会通知您。当有人@您时，我们会通知您。当有人回复您的帖子时...好吧，您知道会发生什么。并且当您不常在论坛逛时，我们也会通过邮件通知您。</p>
    </div>
    <div class="row">
      <div class="box">
        <%= video_tag('context.png', class: 'yellow-border', size: '545x175') %>
      </div>
      <h2>简洁，附带上下文</h2>
      <p>Discourse 是一个简洁、平面化的论坛，回复就像瀑布一样线性显示在页面中。</p>
      <p>回复可以展开，它们位于帖子的底部或顶部，以便您了解对话的完整上下文——而不用打断您的阅读。</p>
    </div>
  </section>
  <section id="second">
    <div class="twoColumn">
      <div class="row">
        <h2>生而移动，生而可触摸</h2>
        <p>Discourse 从开发的第一天起便为高分辨率的触摸设备设计，并且有一个专门设计的移动版本。</p>
        <p>使用您的笔记本、平板和您的智能手机访问论坛。不需要担心“这个站点有一个移动应用，您是否要安装它？”的提示。</p>
        <div class="box">
          <%= image_tag 'screenshot-app.jpg', size: '420x200', alt: 'screenshot' %>
        </div>
      </div>
      <div class="row">
        <h2>自动拓展链接信息</h2>
        <p>想要分享东西？直接粘贴链接，我们会显示关于链接的详细信息。</p>
        <p>链接至维基百科、YouTube、亚马逊、GitHub、Twitter、Flickr 和其他流行的网站就会自动显示扩展信息面板。
      </p>
        <div class="box">
          <%= video_tag('onebox.png', size: '420x200') %>
        </div>
      </div>
    </div>
  </section>
  <section id="third">
    <div class="twoColumn">
      <div class="row">
        <h2>阅读时回复</h2>
        <p>在您在阅读的时候，就开始写您的回复。在浏览主题的过程中修改您的回复并引用更多内容！您甚至可以在不同主题之间切换而无需打断编辑。</p>
        <p>我们会保存您阅读的进度——以及您的帖子的草稿——即使您最后用不同的设备发表了帖子也行。</p>
        <div class="box">
          <%= video_tag('reply_read.png', size: '420x200') %>
        </div>
      </div>
      <div class="row">
        <h2>回复为联结主题</h2>
        <p>您不想打断讨论，但是您想要分享一个相关主题。</p>
        <p>没问题！使用“回复为新主题”开启一个相关的主题——并且在两个主题都可以看到他们互相联结。</p>
        <div class="box">
          <%= image_tag 'screenshot-links.jpg', size: '420x200', alt: 'screenshot' %>
        </div>
      </div>
    </div>
  </section>
  <section id="fourth">
    <div class="twoColumn">
      <div class="row">
        <h2>简洁的信息面板</h2>
        <p>链接是用来点击的——所以发表在 Discourse 论坛中的每个链接都会显示一个动态更新的点击次数计数器。</p>
        <p>我们也追踪链入的链接，所以如果您的一个帖子变得非常热门，您就能知道为什么了。</p>
        <div class="box">
          <%= image_tag 'screenshot-metrics.jpg', size: '420x200', alt: 'screenshot' %>
        </div>
      </div>
      <div class="row">
        <h2>实时更新</h2>
        <p>当您在阅读或者回应主题时它发生了更改，或者有新的回复，他们将自动出现。</p>
        <p>当新主题出现时，他们将出现在列表的最上方。</p>
        <div class="box">
          <%= video_tag('newpost.png', size: '420x200') %>
        </div>
      </div>
    </div>
  </section>
  <section id="icons">
    <div class="twoColumn">
      <div class="row">
        <div class="icon"><span class="fa fa-bookmark"></span></div>
        <h2>记住位置</h2>
        <p>您阅读了一段时间、回复或者创建的主题，将自动高亮。不用担心需要一次阅读整个主题——我们总是会记录您阅读到的位置。</p>
      </div>
      <div class="row">
        <div class="icon"><span class="fa fa-key"></span></div>
        <h2>用任何方式登录</h2>
        <p>使用 QQ、新浪微博、人人网、豆瓣、Twitter、Facebook、Google、Yahoo 或 GitHub 账户登录。或者用您已有的站点设置单点登录。
        </p>
      </div>
      <div class="row">
        <div class="icon"><span class="fa fa-picture-o"></span></div>
        <h2>粘贴分享图片</h2>
        <p>想要分享图片？直接拷贝粘贴。或者将其拖进编辑器。发表图片从来没有这么轻松过！</p>
      </div>
      <div class="row">
        <div class="icon"><span class="fa fa-search"></span></div>
        <h2>搜索功能</h2>
        <p>可以在任何页面搜索：只要打字就能在同时看到搜索结果。搜索的结果默认与您所在的位置有关。</p>
      </div>
      <div class="row">
        <div class="icon"><span class="fa fa-shield"></span></div>
        <h2>社群管理</h2>
        <p>当用户日常参与阅读和发表帖子，他们得到信任等级。以此，他们得到了强大的权限维护社群并且驱散捣乱和发广告的人。</p>
      </div>
      <div class="row">
        <div class="icon"><span class="fa fa-users"></span></div>
        <h2>叫上您的朋友</h2>
        <p>只要您获得了信任等级，您就可以点击按钮通过邮件邀请朋友，他们便能点击链接参与回复。职员可以轻松地上传邮件地址列表邀请一群人。</p>
      </div>
      <div class="row">
        <div class="icon">
          <span class="fa-stack fa-lg" style="color: #fff; font-size: 30px;">
            <span class="fa fa-circle-o fa-stack-2x"></span>
            <span class="fa fa-stack-1x" style="font-weight: bold; font-size: .7em;  font-family: arial;">CC</span>
          </span>
        </div>
        <h2>您的数据属于您</h2>
        <p>我们为讨论内容选择的默认协议是创作公用。但作为站长，您可以选择最符合您权益的协议。您可以在任何时候用浏览器导入或者导出您所有的数据。</p>
      </div>
      <div class="row">
        <div class="icon"><span class="fa fa-cogs"></span></div>
        <h2>丰富的 API</h2>
        <p>Discourse 有非常优秀的 API。我们怎么知道？因为我们的 JavaScript 程序是建立在其之上的。我们庞大的社群提供了许多插件、样本和例子。
        </p>
      </div>
    </div>
  </section>
  </div>
</article>

<div class="home">
  <%= render 'shared/footer' %>
</div>
